<div class="row img-rounded footer">
    <hr><small>
    <div class="col-md-2">
    </div>
    <div class="col-md-4" align="center">
       opengrok-auth <br/>
© 2020 opengrok-auth Inc. All Rights reserved.
       <span id="fti"></span>
    </div>
    <div class="col-md-4" align="center">
       <img src="/static/img/opengrok.png" class="fti"></img>
    </div>
    <div class="col-md-2" align="right">
       {{appbuilder.get_app.config.get('APP_VERSION')}}<br/>
       {{appbuilder.get_app.config.get('COMMIT_ID')}}
    </div>
</div>
